.main-block {
  background-image: url(../img/index-bg.png);
  background-size: cover;
  min-height: 205vw; }

.collection__progressbar {
  height: 5vw;
  width: 100vw;
  margin: 3vw 0; }

.collection__block {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5vw; }

.collection__item__image {
  width: 100%; }

.collection__item_active {
  position: absolute;
  z-index: 10;
  left: 25%;
  top: 30%;
  width: 50%; }

.item_active__shadow-block {
  background-color: #000;
  opacity: 0.7;
  z-index: 9;
  height: 225vw;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0; }

@media (min-width: 768px) {
  .main-block {
    min-height: 151vw; }
  .collection__block {
    grid-template-columns: 22% 22% 22% 22%;
    column-gap: 4vw; }
  .collection__item_active {
    left: 32.5%;
    top: 40%;
    width: 35%; }
  .item_active__shadow-block {
    height: 171vw; } }

@media (min-width: 992px) {
  .main-block {
    min-height: 95vw; }
  .collection__progressbar {
    height: 2vw;
    margin: 2vw 0; }
  .collection__block {
    grid-template-columns: 18% 18% 18% 18% 18%;
    column-gap: 2.5vw; }
  .collection__item_active {
    left: 36%;
    top: 32%;
    width: 28%; }
  .item_active__shadow-block {
    height: 110vw; } }

@media (min-width: 1200px) {
  .main-block {
    min-height: 70vw; }
  .collection__progressbar {
    height: 1vw;
    margin: 1.5vw 0; }
  .collection__block {
    grid-template-columns: 17% 17% 17% 17% 17%;
    column-gap: 2.5vw; }
  .collection__item_active {
    left: 38%;
    top: 30%;
    width: 24%; }
  .item_active__shadow-block {
    height: 85vw; } }
