// Mobile First
html {}

// BG

div {}

	.main-block {
			background-image: url(../img/index-bg.png);
			background-size: cover;

			min-height: 150vw;
		}

// Прогрессбар

div {}

	.collection__progressbar {
			height: 5vw;
			width: 100vw;
			margin: 3vw 0;
		}

// Коллекция

div {}

	.collection__block {
			display: grid;

			grid-template-columns: 30% 30% 30%;
			column-gap: 5vw;
		}

// Элемент коллекции

div {}

	.collection__item__image {
			width: 100%;
		}

	.collection__item_active {
			position: absolute;
		    z-index: 10;
		    left: 25%;
		    top: 30%;
		    width: 50%;
		}

// Тень приближенной карты

div {}

	.item_active__shadow-block {
			background-color: #000;
			opacity: 0.7;
			z-index: 9;		
			height: 177vw;
			width: 100vw;

			position: absolute;
			left: 0;
			top: 0;
		}

// Малые девайсы («ландшафтные телефоны», >= 576px)
@media (min-width: 576px) { ... }

// Средние девайсы («таблетки», >= 768px)
div {}
@media (min-width: 768px) { 

// BG

div {}

	.main-block {
			min-height: 140vw;
		}

// Коллекция

div {}

	.collection__block {
			grid-template-columns: 22% 22% 22% 22%;
			column-gap: 4vw;
		}

// Элемент коллекции

div {}

	.collection__item_active {
		    left: 32.5%;
		    top: 40%;
		    width: 35%;
		}

// Тень приближенной карты

div {}

	.item_active__shadow-block {	
			height: 160vw;
		}
}

// Большие девайсы (десктопы, >= 992px)
div {}
@media (min-width: 992px) { 

// BG

div {}

	.main-block {
			min-height: 120vw;
		}

// Прогрессбар

div {}

	.collection__progressbar {
			height: 3vw;
			margin: 2vw 0;
		}

// Коллекция

div {}

	.collection__block {
			grid-template-columns: 18% 18% 18% 18% 18%;
			column-gap: 2.5vw;
		}

// Элемент коллекции

div {}

	.collection__item_active {
		    left: 36%;
		    top: 32%;
		    width: 28%;
		}

// Тень приближенной карты

div {}

	.item_active__shadow-block {	
			height: 128vw;
		}
}

// Экстрабольшие девайсы (большие десктопы, >= 1200px)
div {}
@media (min-width: 1200px) { 

// BG

div {}

	.main-block {
			min-height: 100vw;
		}

// Прогрессбар

div {}

	.collection__progressbar {
			height: 2vw;
			margin: 1.5vw 0;
		}

// Коллекция

div {}

	.collection__block {
			grid-template-columns: 17% 17% 17% 17% 17%;
			column-gap: 2.5vw;
		}

// Элемент коллекции

div {}

	.collection__item_active {
		    left: 38%;
		    top: 30%;
		    width: 24%;
		}

// Тень приближенной карты

div {}

	.item_active__shadow-block {	
			height: 106vw;
		}
}