@keyframes pulse {
  50% {
    color: #d3be67;
    transform: scale(1.1); }
  100% {
    color: #979797;
    transform: scale(1); } }

@keyframes open-pack__btn {
  0% {
    opacity: 1; }
  30% {
    transform: scale(1.1);
    opacity: 1; }
  100% {
    transform: scale(0.7);
    opacity: 0; } }

@keyframes card__img {
  0% {
    opacity: 0.2;
    transform: scale(0.8); }
  100% {
    opacity: 1.0;
    transform: scale(1); } }

@keyframes open-pack__info {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes open-pack__next {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.main-block {
  background-image: url(../img/index-bg.png);
  background-size: cover;
  padding: 15vw 17.5vw 50vw; }

.open-pack__button {
  width: 65vw;
  height: 100vw;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0); }

.open-pack__img {
  width: 100%; }

.open-pack__button_active {
  animation: open-pack__btn 3s;
  opacity: 0; }

.card__img {
  position: absolute;
  width: 65vw;
  height: 100vw;
  left: 17.5vw;
  top: 50vw; }

.card__img_active {
  animation: card__img 3s; }

.open-pack__info {
  color: #979797;
  font-size: 5vw;
  text-align: center;
  margin-bottom: 7vw;
  animation-name: pulse;
  animation-duration: 2.5s;
  animation-iteration-count: infinite; }

.open-pack__info_active {
  animation: open-pack__info 1s;
  opacity: 0; }

.open-pack__next {
  background-color: #5e5d6a;
  color: #e2e2e2;
  padding: 2vw 12vw;
  margin: 5vw 0 0 9vw;
  font-size: 7vw;
  border-radius: 1vw;
  opacity: 0; }

.open-pack__next_active {
  opacity: 1;
  animation: open-pack__next 6s; }

.open-pack__result {
  color: #d3be67;
  font-size: 5vw;
  text-align: center;
  margin-bottom: 7vw;
  display: none; }

.open-pack__result_active {
  display: block;
  animation: open-pack__next 5s; }

@media (min-width: 768px) {
  .main-block {
    padding: 20vw 27vw 50vw; }
  .open-pack__button {
    width: 46vw;
    height: 71vw; }
  .card__img {
    width: 46vw;
    height: 71vw;
    left: 27vw;
    top: 46vw; }
  .open-pack__info {
    font-size: 3.6vw; }
  .open-pack__next {
    padding: 2vw 12vw;
    margin: 5vw 0 0 3vw;
    font-size: 5vw;
    border-radius: 1.5vw; }
  .open-pack__result {
    font-size: 3.6vw; } }

@media (min-width: 992px) {
  .main-block {
    padding: 5vw 38vw 10vw; }
  .open-pack__button {
    width: 24vw;
    height: 38vw; }
  .card__img {
    width: 24vw;
    height: 38vw;
    left: 38vw;
    top: 17vw; }
  .open-pack__info {
    font-size: 2.2vw;
    margin-bottom: 3vw; }
  .open-pack__next {
    padding: 1.5vw 5vw;
    margin: 4vw 0 0 2vw;
    font-size: 3vw;
    border-radius: 0.7vw; }
  .open-pack__next > a:hover {
    color: #d3be67; }
  .open-pack__result {
    font-size: 2.2vw;
    margin-bottom: 3vw; } }

@media (min-width: 1200px) {
  .main-block {
    padding: 10vw 42vw 30vw; }
  .open-pack__button {
    width: 16vw;
    height: 25vw; }
  .card__img {
    width: 16vw;
    height: 25vw;
    left: 42vw;
    top: 19.5vw; }
  .open-pack__info {
    font-size: 1.7vw; }
  .open-pack__next {
    padding: 1vw 3vw;
    margin: 0.5vw 0 0 1.5vw;
    font-size: 2vw;
    border-radius: 0.5vw; }
  .open-pack__result {
    font-size: 1.7vw; } }
