// Анимации

div{}

	@keyframes donate-hover {

			0% {
				background-color: #5e5d6a;
				}
			100% {
				background-color: #d3be67;
				}
			}

	@keyframes reset-hover {

			0% {
				background-color: #5e5d6a;
				}
			100% {
				background-color: #ff7171;
				}
			}

// Mobile First
div {}

// BG

div {}

	.main-block {
			height: 150vw;
			padding-top: 15vw;

			background-image: url(../img/index-bg.png);
			background-size: cover;
		}

// Надпись над кнопкой

div {}

	.page__info {
			font-size: 5vw;
			width: 62%;
			margin-left: 19%;
			color: #5e5d6a;
			font-weight: 500;
		}

// Кнопка

div {}

	.page__btn {
			font-size: 5vw;
			padding: 2vw 5vw;
			background-color: #5e5d6a;
			color: #e2e2e2;
			font-weight: 500;
			border-radius: 1vw;
			margin: 10vw 0 0 35vw;
		}

// Hover кнопки

div {}

	.reset__btn:hover {
			animation: reset-hover 1s;
			background-color: #ff7171;
		}

	.donate__btn:hover {
			animation: donate-hover 1s;
			background-color: #d3be67;
		}

// Малые девайсы («ландшафтные телефоны», >= 576px)
div {}
@media (min-width: 576px) { ... }

// Средние девайсы («таблетки», >= 768px)
div {}
@media (min-width: 768px) { 

// BG

div {}

	.main-block {
			height: 140vw;
		}

// Надпись над кнопкой

div {}

	.page__info {
			font-size: 4vw;
			width: 55%;
			margin-left: 22.5%;
		}

// Кнопка

div {}

	.page__btn {
			font-size: 4vw;
			padding: 2vw 6vw;
			border-radius: 1.5vw;
			margin: 10vw 0 0 36.5vw;
		}
 }

// Большие девайсы (десктопы, >= 992px)
div {}
@media (min-width: 992px) { 

// BG

div {}

	.main-block {
			height: 105vw;
		}

// Надпись над кнопкой

div {}

	.page__info {
			font-size: 3vw;
			width: 45%;
			margin-left: 27.5%;
		}

// Кнопка

div {}

	.page__btn {
			font-size: 3vw;
		    padding: 1.5vw 5vw;
		    border-radius: 1vw;
			margin: 7vw 0 0 39.5vw;
		}
 }

// Экстрабольшие девайсы (большие десктопы, >= 1200px)
div {}
@media (min-width: 1200px) { 

// BG

div {}

	.main-block {
			height: 90vw;
			padding-top: 8vw;
		}

// Надпись над кнопкой

div {}

	.page__info {
			font-size: 2vw;
		    width: 30%;
		    margin-left: 35%;
		}

// Кнопка

div {}

	.page__btn {
			font-size: 2vw;
		    padding: 1vw 4.5vw;
		    border-radius: 0.5vw;
		    margin: 5vw 0 0 41.5vw;
		}
 }