.main-block {
  min-height: 205vw;
  background-color: #333333;
  padding: 8vw 4vw; }

.list-packs__item {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 8vw 1fr 0.25fr;
  grid-column-gap: 4vw;
  grid-template-areas: "list-packs__img list-packs__header" "list-packs__img list-packs__info" "list-packs__img list-packs__btn";
  font-weight: 500;
  color: #e2e2e2;
  background-color: rgba(67, 67, 67, 0.8);
  padding: 5vw 1vw;
  margin-bottom: 3vw; }

.list-packs__img {
  grid-area: list-packs__img;
  width: 90%;
  margin-left: 5%; }

.list-packs__header {
  grid-area: list-packs__header;
  font-size: 7vw; }

.list-packs__info {
  grid-area: list-packs__info;
  font-size: 2.8vw;
  line-height: 3.8vw;
  width: 80%;
  margin-top: 2.33333vw; }

.list-packs__btn {
  grid-area: list-packs__btn;
  font-size: 5vw;
  background-color: #727272;
  font-weight: inherit;
  color: inherit;
  width: 50%;
  margin: 3vw 0 0 45%; }

.btn_disabled {
  background-color: #616161;
  color: #cbcbcb; }

.list-packs__btn__img {
  height: 5vw;
  margin-bottom: 1vw; }

@media (min-width: 768px) {
  .main-block {
    padding: 8vw 10vw; }
  .list-packs__item {
    grid-template-rows: 6vw 1fr 0.25fr;
    padding: 3vw 1vw;
    margin-bottom: 4vw; }
  .list-packs__img {
    width: 95%; }
  .list-packs__header {
    font-size: 5vw; }
  .list-packs__info {
    font-size: 2vw;
    line-height: 3vw;
    margin-top: 1.66667vw; }
  .list-packs__btn {
    font-size: 3vw;
    width: 40%;
    margin: 2vw 0 0 50%;
    padding: 0.6vw 0; }
  .list-packs__btn__img {
    height: 3vw;
    margin-bottom: 0.6vw; } }

@media (min-width: 992px) {
  .main-block {
    padding: 8vw 15vw; }
  .list-packs__item {
    grid-template-rows: 4vw 1fr 0.25fr;
    padding: 2vw 1vw;
    margin-bottom: 5vw; }
  .list-packs__header {
    font-size: 3vw; }
  .list-packs__info {
    font-size: 1.66667vw;
    line-height: 2.5vw;
    margin-top: 2vw; }
  .list-packs__btn {
    font-size: 2vw;
    width: 40%;
    margin: 0 0 2vw 50%;
    padding: 0.6vw 0; }
  .list-packs__btn:hover {
    background-color: #d3be67;
    animation: btn-hover 2s; }
  .btn_disabled:hover {
    background-color: #515151;
    animation: none; }
  .list-packs__btn__img {
    height: 2vw;
    margin-bottom: 0.4vw; }
  @keyframes btn-hover {
    0% {
      background-color: #727272; }
    100% {
      background-color: #d3be67; } } }

@media (min-width: 1200px) {
  .main-block {
    padding: 8vw 2vw; }
  .list-packs {
    padding: 0; }
  .list-packs__item {
    grid-template-rows: 3vw 1fr 0.25fr;
    padding: 1vw 1vw;
    margin-bottom: 5vw;
    margin-left: 5vw;
    display: inline-grid;
    grid-column-gap: 2vw; }
  .list-packs__header {
    font-size: 2vw; }
  .list-packs__info {
    font-size: 1.11111vw;
    line-height: 1.7vw;
    margin-top: 1vw; }
  .list-packs__btn {
    font-size: 1.2vw;
    width: 45%;
    margin: 0 0 1vw 45%;
    padding: 0.6vw 0; }
  .list-packs__btn__img {
    height: 1.2vw;
    margin-bottom: 0.2vw; } }
