{% extends 'base.html' %}
{% load static %}

{% block link %}
	<link rel="stylesheet" href="{% static 'css/collection-styles.css' %}">
{% endblock link %}

{% block logo %}COLLECTION{% endblock logo %}

{% block body %}
	<div class="item_active__shadow-block display-none"></div>
	<div class="main-block">
		<div class="collection__progressbar progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%; background: linear-gradient(#eedf88, #ccba6a);"></div>
		</div>
		<section class="collection__block col-12 col-xl-10 offset-xl-1">
		{% if collection %}
		  {% for item in collection %}
		  <div class="collection__item"><img src="{{item.img}}" alt="Карта" class="collection__item__image"></div>
		  {% endfor %}		  
		{% endif %}
		</section>
	</div>
{% endblock body %}
{% block scripts %}
	<script src="{% static 'js/collection-scripts.js' %}"></script>
{% endblock scripts %}

