{% extends 'base.html' %}
{% load static %}

{% block link %}
	<link rel="stylesheet" href="{% static 'css/otherpages-styles.css' %}">
{% endblock link %}

{% block logo %}DONATE{% endblock logo %}

{% block body %}
	<div class="main-block">		
		<p class="page__info text-center">If you want to help the developer financially, you can transfer money to him:</p>
		<form action="pay_donate" method="POST">
			{% csrf_token %}
			<button type="submit" class="page__btn donate__btn">SEND <img class="reset__img"  src="{% static 'img/donate-icon.svg' %}" alt="OP"></button>
		</form>
	</div>
{% endblock body %}
{% block scripts %}
	<script src="{% static 'js/otherpages-scripts.js' %}"></script>
{% endblock scripts %}