{% extends 'base.html' %}
{% load static %}

{% block link %}
	<link rel="stylesheet" href="{% static 'css/index-styles.css' %}">
{% endblock link %}

{% block logo %}PERK__7{% endblock logo %}

{% block body %}
	<div class="main-block">
		<h3 class="open-pack__info">CLICK TO OPEN &#9660</h3> 
		<h3 class="open-pack__result">{{info}}</h3>
		<button class="open-pack__button"><img class="open-pack__img" src="{{pack.icon.url}}" alt="pack"></button>
		<img class="card__img display-none" src="{{card.image.url}}" alt="card">
		<form action="{% url 'packs:save_card' 'index_redir' %}" method="POST">
			{% csrf_token %}
			<input name="card" type="text" value="{{card.name}}" style="display: none;">
			<button type="submit" class="open-pack__next">NEXT</button>
		</form>
	</div>
{% endblock body %}
{% block scripts %}
	<script src="{% static 'js/index-scripts.js' %}"></script>
{% endblock scripts %}