{% extends 'base.html' %}
{% load static %}

{% block link %}
	<link rel="stylesheet" href="{% static 'css/otherpages-styles.css' %}">
{% endblock link %}

{% block logo %}RESET{% endblock logo %}

{% block body %}
	<div class="main-block">		
		<p class="page__info text-center">This will clear all your money and collection, are you sure that want to make it?</p>
		<form action="collection_clear">
			{% csrf_token %}
			<button type="submit" class="page__btn reset__btn">RESET <img class="reset__img"  src="{% static 'img/item__reset.svg' %}" alt="R"></button>
		</form>
	</div>
{% endblock body %}
{% block scripts %}
	<script src="{% static 'js/otherpages-scripts.js' %}"></script>
{% endblock scripts %}