{% extends 'base.html' %}
{% load static %}

{% block link %}
	<link rel="stylesheet" href="{% static 'css/shop-styles.css' %}">
{% endblock link %}

{% block logo %}SHOP{% endblock logo %}

{% block body %}
	<div class="main-block">
		<div class="list-packs container-fluid">
		{% if packs %}
			{% for pack in packs %}
			<div class="list-packs__item col-12 col-xl-5">
				<img src="{{pack.icon}}" alt="{{pack.name}}" class="list-packs__img">
				<h2 class="list-packs__header">{{pack.name}}</h2>
				<p class="list-packs__info">{{pack.prescript}}</p>
				<form action="open_pack" method="POST">
					{% csrf_token %}
					<input name="pack" type="text" value="{{pack.name}}" style="display: none;">
					{% if all_money >= pack.cost %}
					<button type="submit" class="list-packs__btn">{{pack.cost}} <img class="list-packs__btn__img" src="{% static 'img/price-of-money.svg' %}" alt="Деньги"></button>
					{% else %}
					<button type="submit" class="list-packs__btn btn_disabled" disabled>{{pack.cost}} <img class="list-packs__btn__img" src="{% static 'img/price-of-money.svg' %}" alt="Деньги"></button>
					{% endif %}
				</form>
			</div>
			{% endfor %}
		{% endif %}
		</div>
	</div>
{% endblock body %}

{% block scripts %}
	<script src="{% static 'js/shop-scripts.js' %}"></script>
{% endblock scripts %}