{% extends 'base.html' %}
{% load static %}

{% block link %}
	<link rel="stylesheet" href="{% static 'css/shop-styles.css' %}">
{% endblock link %}

{% block logo %}SHOP{% endblock logo %}

{% block body %}
	<div class="main-block">
		<div class="list-packs container-fluid">
			<div class="list-packs__item col-12 col-xl-5">
				<img src="{% static 'img/packs/tots.png' %}" alt="tots" class="list-packs__img">
				<h2 class="list-packs__header">TOTS PACK</h2>
				<p class="list-packs__info">Ultimate pack, At least 1 TOTS, only 81+ card, improved chance of packing special and high rated players</p>
				<button class="list-packs__btn">2000 <img class="list-packs__btn__img" src="{% static 'img/price-of-money.svg' %}" alt="Деньги"></button>
			</div>
			<div class="list-packs__item col-12 col-xl-5">
				<img src="{% static 'img/packs/special.png' %}" alt="special" class="list-packs__img">
				<h2 class="list-packs__header">SPECIAL PACK</h2>
				<p class="list-packs__info">Ultimate pack, At least 1 TOTS, only 81+ card, improved chance of packing special and high rated players</p>
				<button class="list-packs__btn">2000 <img class="list-packs__btn__img" src="{% static 'img/price-of-money.svg' %}" alt="Деньги"></button>
			</div>
			<div class="list-packs__item col-12 col-xl-5">
				<img src="{% static 'img/packs/premium.png' %}" alt="premium" class="list-packs__img">
				<h2 class="list-packs__header">PREMIUM PACK</h2>
				<p class="list-packs__info">Ultimate pack, At least 1 TOTS, only 81+ card, improved chance of packing special and high rated players</p>
				<button class="list-packs__btn">2000 <img class="list-packs__btn__img" src="{% static 'img/price-of-money.svg' %}" alt="Деньги"></button>
			</div>
		</div>
	</div>
{% endblock body %}

{% block scripts %}
	<script src="{% static 'js/shop-scripts.js' %}"></script>
{% endblock scripts %}