// Переменные 

@import "main-vars.scss";

// Основные стили
div {}

	button, button:focus {
			border: 0;
			outline: 0;
		}

	.mg-pd-off {
			margin-left: 0 !important;
			padding-left: 0 !important;
			margin-right: 0 !important; 
			padding-right: 0 !important;
		}

	a, a:focus, a:visited, a:hover {
			text-decoration: none;
			color: $top-header_fc;
		}

	.display-none {
			display: none;
		}	

	html {
			overflow-x: hidden;
		}

// Mobile First

// Верхняя часть шапки

div {}

	.top-header {
			background-color: $top-header-bg;
			color: $top-header-fc;
			font-size: $mobile-sz;
		}

	.button-main-menu {
			padding: 0;
			background-color: inherit;
			color: inherit;
		}

	.button-main-menu__image {
			height: 80%;
			width: 80%;
			margin: auto;
		}

	.button-main-menu__image_active {
			height: 70%;
			width: 70%;
			margin: 1vw 0;
		}

	.logo-perk {
			margin-top: 0.8vw;
			padding: 0;
			padding-right: 1.5vw;
			text-align: right;
		}

// Нижняя часть шапки

div {}

	.bottom-header {
			background-color: $bottom-header-bg;
			font-size: $mobile-sz;
			color: $top-header-bg;
			font-weight: 500;
		}

	.bottom-header__img {
			height: $mobile-sz;
			margin-top: -1.8vw;
		}

	.money-counter {
			padding: 0;
		}

	.money-counter__quantity {
			display: inline-block;
			padding-left: 5vw;
			width: 21.6vw;
			text-align: right;
		}

// Меню

div {}

	.main-menu {
			position: absolute;
			left: 0;
			top: 13.3vw;

			width: 100vw;
			height: 0;
			background-color: $top-header-bg;
			color: $top-header-fc;				
			z-index: 5;
		}

	.main-menu_active {
			height: $mobile-hg;
			animation: open-menu 2s;
			border-top: 1px solid $top-header-fc;
		}

	.main-menu_disabled {
			animation: close-menu 0.7s;
		}

	.main-menu__list {
			font-size: $mobile-sz;
			padding: 0;
			width: 50vw;
			margin: 30vw 25vw;
		}
	
	.main-menu__list_active {
			display: block;
			animation: open-list-menu 4s;
		}

	.main-menu__list_disabled {
			animation: close-list-menu 1s;
		}

	.main-menu__item {
			margin-top: 5vw;
		}

	.main-menu__item:last-child {
			margin-top: 4vw;
			border-top: 3px solid $top-header-fc;
			padding-top: 4vw;
		}

	.main-menu__item__img {
			height: $mobile-sz;
			width: $mobile-sz;
		}

	.main-menu__item > a:hover {
			color: $gold-fc;
		}

// Анимации
div {}

	@keyframes open-menu {

		0% {
			height: 0;
			}
		100% {
			height: $mobile-hg;
			}
		}

	@keyframes close-menu {

		0% {
			height: $mobile-hg;
			}
		100% {
			height: 0;
			}
		}

	@keyframes open-list-menu {

		0% {
			opacity: 0;
			}
		20% {
			opacity: 0;
		}
		100% {
			opacity: 1;
			}
		}

	@keyframes close-list-menu {

		0% {
			opacity: 1;
			}
		100% {
			opacity: 0;
			}
		}

// Малые девайсы («ландшафтные телефоны», >: 576px)
div {}
@media (min-width: 576px) { }

// Средние девайсы («таблетки», >: 768px)
div {}
@media (min-width: 768px) { 

// Верхняя часть шапки

div {}

	.top-header {
			font-size: $tablet-sz;
		}

	.button-main-menu:after {
			content: "MENU";
		}

	.button-main-menu__image {
			height: 50%;
			width: 20%;
			margin: -0.8vw 1vw 0 -4vw;
		}

	.logo-perk {
			margin-bottom: 0.8vw;
		}

// Нижняя часть шапки

div {}

	.bottom-header {
			font-size: $tablet-sz;
		}

	.bottom-header__img {
			height: $tablet-sz;
			margin-top: -1.4vw;
		}

	.money-counter__quantity {
			padding-left: 0;
			width: 16vw;
		}

// Меню

div {}

	.main-menu {
			top: 9.1vw;

			width: 78vw;
		}

	.main-menu_active {
			height: $tablet-hg * 0.75;
		}

	.main-menu__list {
			font-size: $tablet-sz;
			width: 39vw;
			margin: 25vw 19.5vw;
		}

	.main-menu__item__img {
			height: $tablet-sz;
			width: $tablet-sz;
		}

// Анимации
div {}

	@keyframes open-menu {

		0% {
			height: 0;
			}
		100% {
			height: $tablet-hg * 0.75;
			}
		}

	@keyframes close-menu {

		0% {
			height: $tablet-hg * 0.75;
			}
		100% {
			height: 0;
			}
		}
 }

// Большие девайсы (десктопы, >: 992px)
div {}
@media (min-width: 992px) { 

// Верхняя часть шапки

div {}

	.top-header {
			font-size: $desktop-sz;
		}

	.button-main-menu:hover {
			color: $gold-fc;
		}

	.button-main-menu__image {
			height: 50%;
			width: 20%;
			margin: -0.4vw 0 0 0;
		}

	.logo-perk {
			margin-bottom: 0.8vw;
		}

// Нижняя часть шапки

div {}

	.bottom-header {
			font-size: $desktop-sz;
		}

	.bottom-header__img {
			height: $desktop-sz;
			margin-top: -0.9vw;
		}

	.quantity-cards, .money-counter {
			margin-top: 0.8vw;
			margin-bottom: 0.8vw;
		}

	.money-counter__quantity {
			width: 12vw;
		}

// Меню

div {}

	.main-menu {
			top: 6vw;

			width: 50vw;
		}

	.main-menu_active {
			height: $desktop-hg * 0.6;
		}

	.main-menu__list {
			font-size: $desktop-sz;
			width: 25vw;
			margin: 8vw 12.5vw;
		}

	.main-menu__item {
			margin-top: 3vw;
		}

	.main-menu__item:last-child {
			margin-top: 3vw;
			border-top: 3px solid $top-header-fc;
			padding-top: 3vw;
		}

	.main-menu__item__img {
			height: $desktop-sz;
			width: $desktop-sz;
		}

// Анимации
div {}

	@keyframes open-menu {

		0% {
			height: 0;
			}
		100% {
			height: $desktop-hg * 0.6;
			}
		}

	@keyframes close-menu {

		0% {
			height: $desktop-hg * 0.6;
			}
		100% {
			height: 0;
			}
		}
 }

// Экстрабольшие девайсы (большие десктопы, >: 1200px)
div {}
@media (min-width: 1200px) { 

// Верхняя часть шапки

div {}

	.top-header {
			font-size: $large-sz;
		}

	.logo-perk {
			padding-left: 4vw;
		}

// Нижняя часть шапки

div {}

	.bottom-header {
			font-size: $large-sz;
		}

	.bottom-header__img {
			height: $large-sz;
			margin-top: -0.5vw;
		}

	.money-counter__quantity {
			width: 7vw;
		}

// Меню

div {}

	.main-menu {
			top: 4.55vw;

			width: 35vw;
		}

	.main-menu_active {
			height: $large-hg * 0.56;
		}

	.main-menu__list {
			font-size: $large-sz;
			width: 17.5vw;
			margin: 5vw 8.75vw;
		}

	.main-menu__item {
			margin-top: 2vw;
		}

	.main-menu__item:last-child {
			margin-top: 2vw;
			border-top: 2px solid $top-header-fc;
			padding-top: 2vw;
		}

	.main-menu__item:last-child .main-menu__item__img {
			margin-top: -0.5vw;
		}

	.main-menu__item__img {
			height: $large-sz;
			width: $large-sz;
		}

// Анимации
div {}

	@keyframes open-menu {

		0% {
			height: 0;
			}
		100% {
			height: $large-hg * 0.56;
			}
		}

	@keyframes close-menu {

		0% {
			height: $large-hg * 0.56;
			}
		100% {
			height: 0;
			}
		}
 }