$top-header_bg : #5e5d6a;
$top-header_fc : #e2e2e2;
$bottom-header_bg : #cecdcd;
$gold-fc : #d3be67;

$mobile-hg : 205vw;
$tablet-hg : 151vw;
$desktop-hg : 95vw;
$large-hg : 70vw;

$mobile-sz : 7vw;
$tablet-sz : 5vw;
$desktop-sz : 3vw;
$large-sz : 2vw;